{% extends 'clean.html.twig' %}

{% block title %}Contactez-nous!{% endblock %}

{% block content %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{asset('clean/assets/img/contact-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Contactez-nous</h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
<!-- Form Request -->
        
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
             
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="text-center">
                            <h1>Adresse :</h1>
                            <p>
                                E-terminal
                            </p>
                            <p>
                                59 Impasse des Hautes Bornes,
                            </p>
                            <p>
                                Montigny les Cormeilles, 95370, France
                            </p>
                            <p>
                                Tél: <span class="text-decoration-underline">06 25 14 70 88</span>
                            </p>
                        </div>
                        <div class="text-center">
                            <h1>Langues parlées :</h1>
                            <p>Français</p>
                            <p>
                                Anglais
                            </p>
                            <p>
                                Espagnol
                            </p>
                            <p>
                                Portugais
                            </p>
                        </div>
                        <h1 >Nous contacter par E-mail :</h1>
                        <p>
                            {{ form(form) }}
                        </p>
                    </div>
                </div>
            </div>
        </article>



{% endblock %}
