{% extends 'clean.html.twig' %}

{% block title %}QUI SOMMES-NOUS?{% endblock %}

{% block content %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{asset('clean/assets/img/contact-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>QUI SOMMES-NOUS?</h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
<!-- Form Request -->
        
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
             
                    <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                        <div>
                            <h1>E-Terminal</h1>
                            <p>
                                E-Terminal permet de mettre en relation des utilisateur de borne électrique avec des entreprises, des investisseur et des particuliers qui louent tout ou une partie de leur propre borne comme borne d'appoint. Le site offre une plateforme de recherche et de réservations entre la personne qui met à disposition son borne de recharge (le bailleur) et un locataire (ou un client)
                            </p>
                        </div>
                        <div>
                            <h1>POURQUOI CHOISIR E-Terminal?</h1>
                            <p>
                                Un suivi régulier de vos consommations et factures via votre espace.
                            </p>
                            <p>
                                De nombreuses bornes de recharge sur un réseau qui s'étend de jour en jour.
                            </p>
                            <p>
                                Un service client réactif et à votre écoute : m.ouada@outlook.fr
                            </p>
                        </div>
                        <div>
                            <h1>QUI SOMMES-NOUS?</h1>
                            <p>
                                Un jeune diplômé d'une maîtrise de concepteur développeur d'applications, passionné d'infomatique et engagé pour le préservation de notre environnement.
                            </p>
                        </div>
                        <div>
                            <h1>Adresse :</h1>
                            <p>
                                OUADA MOHAMED
                            </p>
                            <p>
                                59 Impasse des Hautes Bornes,
                            </p>
                            <p>
                                Montigny les Cormeilles, 95370, France
                            </p>
                            <p>
                                Tél: <span class="text-decoration-underline">06 25 14 70 88</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>



{% endblock %}
