{% extends 'sbadmin.html.twig' %}

{% block title %}Gestion des catégories!{% endblock %}

{% block final_stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Profil</h1>

        <div class="card">
            <div class="card-header">
                <h2>Profil de {{app.user.displayName}}</h2>
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title">Nom d'utilisateur : </h5>
                    <p class="card-text">{{app.user.displayName}}</p>
                <div>
                <div>
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">{{app.user.email}}</p>
            </div>
        </div>        
        
    </div>
{% endblock %}

{% block final_javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('sbadmin/js/datatables-simple-demo.js')}}"></script>
{% endblock %}